@charset "UTF-8";



/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&display=swap');

/* Fonts */



/* Reset styles */

* {
    padding: 0;
    margin: 0;
    border: 0; }

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

:focus, :active {
    outline: none; }

a:focus, a:active {
    outline: none; }

input, button, textarea {
    font-family: inherit; }

input::-ms-clear {
    display: none; }

button {
    cursor: pointer; }

button::-moz-focus-inner {
    padding: 0;
    border: 0; }

a, a:visited {
    text-decoration: none; }

a:hover {
    text-decoration: none; }

ul li {
    list-style: none; }

img {
    vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }* {
    padding: 0;
    margin: 0;
    border: 0; }

/* Reset styles */



/* Press footer */

body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F2F2
}

main {
    flex-grow: 1;
}

/* Press footer */



/* Common styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}


.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
/* Common styles */



/* Site-menu */

.site-menu {
    background-color: #7eb5d4;
    margin-bottom: 40px;
}


.site-menu__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-menu__row li{
    margin-right: 20px;
}

.site-menu__row li a {
    display: inline-flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 70px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
}

.site-menu__row li a:hover {
    background-color: #3a769e;
    transition: 0.4s;
}

/* Site-menu */



/* Intro */

.intro-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.intro-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-img__img {
    max-width: 200px;
    height: auto;
    margin-right: 3rem;
    border-radius: 50px;
}

.intro-name__title::after {
    content:'';
    display: block;
    height: 3px;
    border-radius: 3px;
    background-color: #3a769e;
}

.intro::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
}

/* Intro */


/* Contacts */

.contacts-subtitle__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-subtitle__wrapper * {
    margin-right: 40px;
    margin-bottom: 20px;
}

.contacts-subtitle__vk {
    background-image: url(assets/icons/vk.svg);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.contacts-subtitle__tg {
    background-image: url(assets/icons/tg.svg);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.contacts-subtitle__gh {
    background-image: url(assets/icons/gh.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.contacts-subtitle__ds-icon {
    background-image: url(assets/icons/ds.svg);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.contacts-subtitle__phone-icon {
    background-image: url(assets/icons/phone.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.contacts::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}


/* Contacts */


/* Summary */

.summary::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}


/* Summary */

/* Skills */

.skills::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Skills */


/* Code */

.code::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Code */


/* Projects */

.projects-list li a {
    color: #000000;
}

.projects-list li a:hover {
    background-color: #3a769e;
    transition: 0.4s
}

.projects::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Projects */


/* Education */

.education::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Education */


/* English-skills */

.english-skills::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* English-skills */


/* Footer */

.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7eb5d4;
    height: 60px;
}

.footer__gh {
    background-image: url(assets/icons/gh.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.footer-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3a769e;
}

.footer__rs {
    background-image: url(assets/icons/rs_school_js.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 20px;
}

/* Footer */