@charset "UTF-8";



/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Fonts */







/* Press footer */

body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333
}

main {
    flex-grow: 1;
}

/* Press footer */



/* Common styles */

html {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}


.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
/* Common styles */



/* Site-menu */

.site-menu {
    background-color: #FF5A5F;
}


.site-menu__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-menu__row li {
    z-index: 10;
}



.site-menu__row li a {
    display: inline-flex;
    align-items: center;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.site-menu__row li a:hover {
    color: #FF5A5F;
    background-color: #333333;
    transition: 0.4s;
}

/* Site-menu */



/* Intro */

.intro {
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.outer-circle, .middle-circle, .inner-circle {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 45.83%, rgba(255, 255, 255, 0.44) 100%);
    mix-blend-mode: normal;
    opacity: 0.4;
}

.outer-circle {
    z-index: 5;
    border-radius: 50%;
    width: 900px;
    height: 900px;
}

.middle-circle {
    z-index: 6;
    border-radius: 50%;
    width: 750px;
    height: 750px;
}

.inner-circle {
    z-index: 7;
    border-radius: 50%;
    width: 600px;
    height: 600px;
}

.intro-info {
    z-index: 8;
    top: -245px;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.intro-img {
    padding-top: 20px;
    margin-bottom: 20px;
}

.intro-name {
    color: #FF5A5F;
}

.intro-profession {
    font-size: 2rem;
    font-weight: bold;
    background-color: #FF5A5F;
    color: #333333;
    padding: 1.5rem;
    border-radius: 1rem;
}



/* Intro */


/* Contacts */

.contacts-subtitle__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-subtitle__wrapper * {
    margin-right: 40px;
    margin-bottom: 20px;
}

.contacts-subtitle__vk {
    background-image: url('assets/icons/vk.svg');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.contacts-subtitle__tg {
    background-image: url('assets/icons/tg.svg');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.contacts-subtitle__gh {
    background-image: url('assets/icons/gh.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.contacts-subtitle__ds-icon {
    background-image: url('assets/icons/ds.svg');
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.contacts-subtitle__phone-icon {
    background-image: url('assets/icons/phone.svg');
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.contacts::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}


/* Contacts */


/* Summary */

.summary::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}


/* Summary */

/* Skills */

.skills::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Skills */


/* Code */

.code::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Code */


/* Projects */

.projects-list li a {
    color: #000000;
}

.projects-list li a:hover {
    background-color: #3a769e;
    transition: 0.4s
}

.projects::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Projects */


/* Education */

.education::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* Education */


/* English-skills */

.english-skills::after {
    content:'';
    display: block;
    height: 5px;
    border-radius: 3px;
    background-color: #7eb5d4;
    margin-top: 20px;
}

/* English-skills */


/* Footer */

.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7eb5d4;
    height: 60px;
}

.footer__gh {
    background-image: url('assets/icons/gh.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.footer-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3a769e;
}

.footer__rs {
    background-image: url('assets/icons/rs_school_js.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 20px;
}

/* Footer */